extends layout 

block content
  h1= title 

  form(action="", method="post" style='display:flex;flex-direction:column') 
    label(for="name") Category name: 
    input(type="text", name="name" placeholder='Name' value=(category && category.name ? category.name : '')) 
    label(for="description") Item description: 
    textarea(type='textarea' name="description" placeholder='A nice sentence')  #{item && item.description ? item.description : ''}
    button(type="submit") Submit

  if errors   
    ul 
      for error in errors 
        li!= error.msg