extends layout 

block content 
  div(class="card w-96 h-72 bg-white shadow-xl mx-auto my-10")

    div(class="card-body")
      h2(class="card-title") Delete #{item.name}?

      p Do you really want to delete this item?

      div(class="card-actions justify-end")
        form(method='POST' action='')
          input(type='hidden' name='itemid' required='true' value=item._id)
          button(type='submit' class="btn btn-outline btn-primary btn-error") Delete


   
  